* {
    border: 0;
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    font-family: 'Opens Sans', helvetica;
    height: 100%;
    width: 100%;
    margin: 0px;
    background-color: #e5e8e8;
}

.reglacabeza {
    background-color: rgb(71, 71, 70);
    width: 100%;
    padding: 10px 0px;
}

.nombrecabeza,
.nombrecabeza2 {
    display: inline-block;
    vertical-align: top;
}

.nombrecabeza {
    width: 15%;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    color: #fff;
    margin-left: 12%;
}

.nombrecabeza2 {
    width: 15%;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    color: #fff;
    margin-left: 40%;
}

.nombrecabeza2 b {
    color: rgb(135, 184, 37);
}

.icon-text-document,
.icon-mail {
    color: rgb(135, 184, 37);
}

.portada {
    height: 100%;
    width: 100%;
}

.portada figure {
    width: 100%;
    text-align: center;
}


/*-------------------------------------menu-------------------*/

header {
    margin: 0 auto;
    width: 59.5%;
    height: 200px;
}

div.contenedor {
    width: 200px;
    height: 200px;
    float: left;
    -webkit-transition: height .4s;
}

div#tres {
    background-color: rgb(71, 71, 70);
}

div#tres:hover {
    background-color: rgb(135, 184, 37);
}

div#cuatro {
    background-color: rgb(158, 187, 59);
}

div#cuatro:hover {
    background-color: rgb(135, 184, 37);
}

div#cinco {
    background-color: rgb(71, 71, 70);
}

div#cinco:hover {
    background-color: rgb(135, 184, 37);
}

div#seis {
    background-color: rgb(158, 187, 59);
}

div#seis:hover {
    background-color: rgb(135, 184, 37);
}

.icon {
    display: block;
    margin: 0 auto;
    margin-top: 50px;
    width: 50px;
    -webkit-box-shadow: 0px 0px 0px 30px rgba(255, 255, 255, 0);
    -webkit-transition: box-shadow .4s;
}

p.texto {
    font-size: 1.2em;
    color: white;
    text-align: center;
    padding-top: 10px;
    opacity: .6;
    -webkit-transition: padding-top .4s;
}

div.contenedor:hover {
    height: 220px;
}

div.contenedor:hover p.texto {
    padding-top: 30px;
    opacity: 1;
}

div.contenedor:hover .icon {
    -webkit-box-shadow: 0px 0px 0px 0px rgba(255, 255, 255, .6);
}


/*----------------------------------fin del menu---------------------------*/


/*-----------------------footer-----------------*/

footer {
    width: 100%;
    margin-top: 2%;
    height: 50px;
    overflow: hidden;
    background-color: rgb(71, 71, 70);
}

.pie {
    width: 40%;
    margin-top: 1%;
    margin-left: 5%;
    font-family: 'Oswald', sans-serif;
    font-size: 18px;
    color: white;
}

footer b {
    color: rgb(135, 184, 37);
}


/*------------------ir-arriba-------------*/

.ir-arriba {
    display: none;
    border-radius: 50%;
    padding: 20px;
    background: #9EBB3B;
    font-size: 20px;
    color: #fff;
    cursor: pointer;
    position: fixed;
    bottom: 20px;
    right: 20px;
}


/*-----------------------quienes somos------------------*/

.meen {
    color: rgb(158, 187, 59);
}

.textonos {
    width: 100%;
    margin-top: 2%;
}

.textonoss {
    width: 50%;
    margin: 0 auto;
    line-height: 20px;
    padding: 20px;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
}

.puntosmv {
    width: 100%;
    height: 300px;
    background-color: #515a5a;
}

.puntos,
.mv {
    display: inline-block;
    vertical-align: top;
    margin-top: 2.9%;
}

.puntos {
    width: 40%;
    margin-left: 5%;
}

.mv {
    color: #fff;
    width: 50%;
}

.porque {
    width: 100%;
    color: white;
    background-color: rgb(158, 187, 59, 0.7);
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
}

.puntosespecificos {
    color: white;
    background-color: rgb(158, 187, 59, 0.7);
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    width: 100%;
}

.row {
    /*outline: 2px green solid;*/
}

.well {
    outline: 2px white solid;
    display: inline-block;
    margin-left: 2%;
    padding: 10px;
}

.inf {
    list-style: none;
    text-decoration: none;
    color: white;
    font-weight: bold;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
}

.well:hover {
    background-color: #9EBB3B;
}

.oculto {
    outline: 2px white solid;
    display: inline-block;
    margin-left: 2%;
    margin-top: 4%;
    color: white;
    font-weight: bold;
    text-align: justify;
    padding: 10px;
}

.valores {
    /*outline: 2px red solid;*/
}

.valores p {
    width: 100%;
    text-align: center;
    color: #5f6a6a;
    margin-top: 2%;
    font-size: 40px;
}

.contvaloresespecificos {
    margin-top: 2%;
    width: 100%;
}

.icon-hour-glass,
.icon-thumbs-up,
.icon-qq,
.icon-new-message,
.icon-leaf,
.icon-swap {
    color: rgb(158, 187, 59);
    font-size: 40px;
}

.etica,
.responsabilidad,
.compromiso {
    display: inline-block;
    vertical-align: top;
}

.responsabilidad,
.etica,
.compromiso {
    width: 30%;
    font-family: 'Roboto', sans-serif;
    font-size: 25px;
    margin-left: 2%;
    color: rgb(81, 90, 90);
    font-weight: bold;
}

.boton {
    margin-top: 2%;
}

.btnAzul {
    display: block;
    width: 250px;
    height: 80px;
    padding: 25px 0 0 0;
    margin: 0 auto;
    background-color: #9EBB3B;
    background: -moz-linear-gradient(top, #9EBB3B 0%, #9EBB3B 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #9EBB3B), color-stop(100%, #9EBB3B));
    box-shadow: inset 0px 0px 6px #fff;
    -webkit-box-shadow: inset 0px 0px 6px #fff;
    border: 1px solid #62C2F9;
    border-radius: 10px;
    font: bold 25px Helvetica, Sans-Serif;
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;
    color: #474746;
    text-shadow: 0px 1px 2px #62C2F9;
}

.btnAzul:hover {
    background-color: #474746;
    background: -moz-linear-gradient(top, #474746 0%, #474746 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #474746), color-stop(100%, #9EBB3B));
    color: #fff;
}


/*-----------------------------servicios------------------*/

.contentextoser {
    width: 100%;
    margin-top: 2%;
    background-color: #474746;
    height: 135px;
    overflow: hidden;
}

.contentextoser p {
    width: 50%;
    border: 2px white solid;
    margin: 0 auto;
    margin-top: 1.7%;
    color: white;
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
    text-align: center;
    padding: 20px;
}

.contservicios {
    width: 100%;
    overflow: hidden;
}

.contservicioss {
    width: 80%;
    margin: 0 auto;
}

.figura,
.text_serv {
    display: inline-block;
    vertical-align: top;
    margin-top: 2%;
}

.text_serv {
    margin-left: 2%;
    overflow: hidden;
    width: 50%;
}

.text_servenca {
    width: 100%;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    color: black;
    font-size: 20px;
}

.text_sub {
    margin-top: 2%;
    width: 100%;
    text-align: justify;
    font-family: 'Roboto', sans-serif;
    color: black;
    font-size: 18px;
}

.figura {
    width: 28%;
    margin-left: 5%;
}


/*-----------------------------contactanos---------------*/

.header {
    width: 100%;
    background-color: rgb(158, 187, 59);
    height: 62px;
}

.header nav {
    width: 70%;
    margin: 0 auto;
}

.header nav ul {
    width: 100%;
}

.header nav ul li {
    border-right: 2px #474746 solid;
    width: 22%;
    display: inline-block;
    / text-decoration: none;
    list-style: none;
    padding: 20px;
    text-align: center;
}

.header nav ul li a {
    text-decoration: none;
    list-style: none;
    color: black;
    font-weight: bold;
}

.header nav ul li:hover {
    background-color: rgb(135, 184, 37);
}

.header nav ul .active {
    background-color: rgb(135, 184, 37);
    color: #FFF;
}

.contacto {
    width: 100%;
    text-align: center;
    color: #5f6a6a;
    margin-top: 2%;
}

.textoconta {
    width: 50%;
    margin: 0 auto;
    margin-top: 1%;
    text-align: center;
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
}

#contacto {
    overflow: hidden;
    width: 50%;
    margin: 0 auto;
    margin-top: 2%;
}

.ema {
    font-size: 16px;
    font-family: helvetica;
    font-weight: bold;
}

.emai:focus {
    border: 2px solid #2DE1CE;
    outline: 0px;
    -webkit-box-shadow: -1px 2px 26px -4px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: -1px 2px 26px -4px rgba(0, 0, 0, 0.75);
    box-shadow: -1px 2px 26px -4px rgba(0, 0, 0, 0.75);
}

.emai {
    height: 30px;
    border-radius: 5px;
    margin-top: 1%;
    border: 1px solid #ccc;
    width: 99%;
    -webkit-box-shadow: inset 0 2px 2px 2px rgba(0, 0, 0, .075);
    -moz-box-shadow: inset 0 2px 2px 2px rgba(0, 0, 0, .075);
    box-shadow: inset 0 2px 2px 2px rgba(0, 0, 0, .075);
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}

input::-webkit-input-placeholder {
    color: #747474;
    padding-left: 5px;
}

input:-moz-placeholder {
    color: #747474;
    padding-left: 5px;
}

input:-ms-input-placeholder {
    color: #747474;
    padding-left: 5px;
}

.enviar {
    font-size: 16px;
    font-weight: bold;
    color: white;
    background-color: rgb(158, 187, 59);
    padding: 15px;
    border-radius: 5px;
    width: 40%;
    margin-bottom: 3%;
    border: 0px;
    float: right;
}

.enviar:hover {
    background: #4b4a4d;
}

.der {
    width: 50%;
    float: right;
    padding: 3% 0px 3% 3%;
}

.izq {
    width: 43%;
    padding: 3% 3% 3% 0px;
    float: left;
}

#cote {
    overflow: hidden;
}

#areac {
    border-radius: 5px;
    box-sizing: border-box;
}

#areac:focus {
    height: 100px;
}

#enviar2 {
    margin-top: 3%;
    width: 30%;
}

.mapa {
    width: 90%;
    margin: 0 auto;
    text-align: center;
}

.mapa iframe {
    width: 100%;
}

.datos {
    margin-top: 2%;
    width: 100%;
}

.direc,
.tel,
.hor,
.cor {
    width: 20%;
    display: inline-block;
    margin-left: 4%;
    vertical-align: top;
}

.text_datos {
    width: 100%;
    text-align: center;
    color: #5f6a6a;
    font-weight: bold;
}

.text_datosd {
    margin-top: 1%;
    color: black;
    width: 100%;
    text-align: center;
    font-size: 15px;
    font-family: 'Lato', sans-serif;
}
